.card {
    width: 276px;
    background: #fdfdfd;
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.card img {
    width: 240px;
}

.card h2 {
    font-family: Arial;
    font-size: 20px;
    margin: 12px 0;
}

.price-text {
    color: #2e7d32;
    font-weight: 700;
    font-size: 18px;
}